body {
  background-color: var(--bg-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  color: var(--heading-color);
  background-color: var(--heading-bg-color);
  width: 92vw;
  position: absolute;
  top: 1vw;
  font-size: 5vw;
  height: 8vw;
  padding: 2vw 2vw 0vw 2vw;
  font-weight: bold;
  border-radius: 2vw;
}

.enabled {
  color: var(--icon-color);
}
.fa-arrow-left {
  position: absolute;
  top: 16vw;
  left: 5vw;
  cursor: pointer;
  color: var(--icon-color);
}

.enabled:active {
  color: var(--heading-color);
}
.button-enabled:active {
  color: var(--heading-color);
}

.button-enabled:hover {
  border: solid var(--heading-color);
  border-width: 1vw;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
.select:hover {
  transition-duration: 0ms;
}

.button-enabled {
  background-color: var(--button-bg-color);
  position: absolute;
  height: 20vw;
  width: 22vw;
  font-size: 4vw;
  border-radius: 20%;
  border-width: 1vw;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
  border-color: var(--button-border-color);
}
.button-enabled:hover {
  border: solid var(--button-hover-color);
  border-width: 1vw;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.disabled {
  color: var(--icon-color);
  opacity: 0.5;
  cursor: default;
}

.button-disabled {
  background-color: var(--button-bg-color);
  position: absolute;
  height: 20vw;
  width: 22vw;
  font-size: 4vw;
  border-radius: 20%;
  border-width: 1vw;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
  border-color: var(--button-border-color);
  opacity: 0.5;
}

.button-disabled:hover {
  cursor: default;
}

.disabled:active {
  color: var(--icon-color);
}

.fa-search {
  position: absolute;
  top: 15vw;
  left: 88vw;
  cursor: pointer;
  color: var(--icon-color);
}

.select {
  top: 50vw;
  left: 39vw;

  color: var(--icon-color);
  font-weight: bold;
}

.left {
  top: 50vw;
  left: 15vw;
}

.right {
  top: 50vw;
  left: 63vw;
}

.up {
  top: 29vw;
  left: 39vw;
}

.down {
  top: 71vw;
  left: 39vw;
}

.mute {
  top: 97vw;
  left: 39vw;
}
.step-backward {
  top: 97vw;
  left: 15vw;
}
.step-forward {
  top: 97vw;
  left: 63vw;
}
.home {
  top: 118vw;
  left: 15vw;
}
.expand {
  top: 118vw;
  left: 63vw;
}

.caption {
  top: 118vw;
  left: 39vw;
}

.theme-switch {
  position: absolute;
  top: 2vw;
  right: 7vw;
  height: 6.5vw;
  width: 12vw;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #888;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 0.8vw;
  content: "";
  height: 5.2vw;
  left: 0.8vw;
  position: absolute;
  transition: 0.4s;
  width: 5.2vw;
}

input:checked + .slider {
  background-color: #00bfff;
}

input:checked + .slider:before {
  transform: translateX(5.2vw);
}

.slider.round {
  border-radius: 6.8vw;
}

.slider.round:before {
  border-radius: 50%;
}

:root {
  --bg-color: #87e6fc;
  --heading-bg-color: #eee;
  --heading-color: dodgerblue;
  --icon-color: #020202;
  --button-bg-color: #eee;
  --button-border-color: #93e9fc;
  --button-hover-color: dodgerblue;
}

[data-theme="dark"] {
  --bg-color: #03254c;
  --heading-bg-color: #020202;
  --heading-color: #00bfff;
  --icon-color: white;
  --button-bg-color: #1d1d1d;
  --button-hover-color: dodgerblue;
  --button-border-color: #03254c;
}
#container {
  position: absolute;
  top: 145vw;
  padding-bottom: 10vw;
  align-items: center;
  justify-content: center;
}
.range-slider {
  top: 0;
}
.rs-range {
  float: right;
  margin-top: 9vw;
  width: 65vw;
  -webkit-appearance: none;
}
.rs-range:focus {
  outline: none;
}
.rs-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: none;
  background: var(--icon-color);
  border-radius: 0px;
  border: 0px solid #010101;
}
.rs-range::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: none;
  background: var(--icon-color);
  border-radius: 0px;
  border: 0px solid #010101;
}

.rs-range::-webkit-slider-thumb {
  box-shadow: none;
  border: 3px solid var(--icon-color);
  height: 22px;
  width: 22px;
  border-radius: 22px;
  background: var(--bg-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
.rs-range::-moz-range-thumb {
  box-shadow: none;
  border: 0px solid #ffffff;
  height: 42px;
  width: 22px;
  border-radius: 22px;
  background: var(--bg-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -20px;
}
.rs-range::-moz-focus-outer {
  border: 0;
}

.rs-label {
  float: left;
  position: relative;
  transform-origin: center center;
  display: block;
  width: 24vw;
  height: 8vw;
  background: transparent;
  line-height: 300px;
  text-align: center;
  font-weight: bold;
  padding-top: 0;
  box-sizing: border-box;
  margin-top: 4vw;
  margin-left: -10px;
  left: attr(value);
  color: var(--icon-color);
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 6vw;
}

.searchBox {
  position: absolute;
  top: 15vw;
  left: 15vw;
  width: 67vw;
  height: 7vw;
  border-radius: 1vw;
  padding-left: 10px;
  font-size: 20px;
}
