<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" type="image/png" href="/icons/error.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" href="/icons/icon512.svg" />
    <link rel="apple-mobile-web-app-status-bar" content="#4dbaa8" />
    <link rel="stylesheet" href="/css/errors.css" />
    <title>QR Code Invalid</title>
  </head>
  <body>
    <div>
      <img src="/icons/error.png" alt="Error Image" width="100vh" />
      <h1 class="heading">Invalid QR Code</h1>
    </div>
    <div>
      <h1>Oops!</h1>
      <h2>404</h2>
      <p>Page not Found</p>
      <p>
        The <strong>QR Code</strong> you requested was not found on this server.
      </p>
    </div>
    <div>
      <form action="/QR-Scanner" method="GET">
        <button type="submit">Try Again</button>
      </form>
    </div>
    <script src="/scripts/darkMode.js"></script>
  </body>
</html>
